<div id="antivirus-overlay-container" class="d-flex overlay-menu">

<div id="antivirus-overlay-menu" class="white-bg subcategories">
<div class="border-box">
<div class="relative">
<a id="anti-overlay-menu-link" class="overlay-menu-title-link" href="/collections/antivirus">
  <h2 class="dark-blue" style="margin-bottom: 36px;">Antivirus</h2>
</a>
<span id="anti-remove-btn" class="absolute overlay-remove-btn"><img src="{{ 'dark-blue-cross.svg' | asset_url }}"></span>
</div>

<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<p class="bright-orange"><b>By Brand</b></p>
<li><a href="/collections/antivirus-trend-micro">Trend Micro</a></li>
<li><a href="/collections/antivirus-symantec">Symantec</a></li>
</ul>

</div>
</div>

<div id="antivirus-overlay-upsell" class="overlay-upsell light-grey relative upsell">
  <img src="//cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-trend-micro-maximum-security-1-year-3pc-11538773508148.png?v=1571218932" loading="lazy" class="absolute"
  style="top: 28%; height: 500px; z-index: -2;">
<div>
<h2 class="black-font" style="font-size: 38px; margin-bottom: 15px;">Trend Micro Maximum Security 1 Year 3 Pc</h2>
<p class="plus-two-font black-font" style="margin-bottom: 12px;">GBP£</p>
<div class="d-flex" style="align-items: flex-end;">
<h2 class="black-font" style="font-size: 42px;">27.49</h2>
</div>
<a href="/products/trend-micro-maximum-security-1-year-3pc">
<button class="pbutton linear-orange uppercase" style="width: 108px; margin-top: 25px;">Buy now</button></a>
</div>
</div>

</div>
