<div id="app-overlay-container" class="d-flex overlay-menu">

<div id="app-overlay-menu" class="white-bg subcategories">
<div class="border-box">
<div class="relative">
<a id="appoverlay-menu-link" class="overlay-menu-title-link" href="/collections/office-apps">
  <h2 class="dark-blue" style="margin-bottom: 36px;">Micrososft Office Apps</h2>
</a>
<span id="app-remove-btn" class="absolute overlay-remove-btn"><img src="{{ 'dark-blue-cross.svg' | asset_url }}"></span>
</div>

<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<p class="bright-orange"><b>By Software</b></p>
<a href="/collections/word"><li>Word</li></a>
<a href="/collections/excel"><li>Excel</li></a>
<a href="/collections/powerpoint"><li>Powerpoint</li></a>
<a href="/collections/outlook"><li>Outlook</li></a>
<a href="/collections/project"><li>Project</li></a>
<a href="/collections/visio"><li>Visio</li></a>
<a href="/collections/publisher"><li>Publisher</li></a>
<a href="/collections/access"><li>Access</li></a>
<a href="/products/skype-for-business-server-2019"><li>Skype</li></a>
</ul>

</div>
</div>

<div id="app-overlay-upsell" class="overlay-upsell relative upsell"
style="background-color: #F2F5F7; background-position-y: -200%;">
<img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/excel2019acad.png?36702" loading="lazy" class="absolute"
style="top: 25%; height: 500px; z-index: -2;">
<div>
<h2 class="dark-blue" style="font-size: 42px; margin-bottom: 15px;">Office Apps Starting from</h2>
<p class="plus-two-font dark-blue" style="margin-bottom: 12px;">GBP£</p>
<div class="d-flex" style="align-items: flex-end;">
<h2 class="dark-blue" style="font-size: 42px;">39.59</h2>
<p class="dark-blue"></p>
</div>
<a href="/collections/office-apps">
  <button class="pbutton linear-orange uppercase" style="width: 108px; margin-top: 25px;">Buy now</button>
</a>
</div>
</div>

</div>
