<section class="faqsection">
    <h2 class="section-heading">FAQ's</h2>
    
    <button class="accordionhoz"><span>What are OEM products?</span></button>
    <div class="panelbox">
      <p>OEM (Original Equipment Manufacturer) products or software are generally full-version software and will not function as an upgrade. An OEM product is always licensed for one computer, is not transferable, and does not come with technical support from the manufacturer.</p>
    </div>
    
    <button class="accordionhoz"><span>What are Retail Software products?</span></button>
    <div class="panelbox">
      <p>Retail Software products are the same products you would purchase at local software stores. They are packaged for retail sale and usually include the retail box, CDs, a manual, the paper license agreement, and an Activation key. Similar to OEM software, a Retail Product is licensed for use on one computer only.</p>
    </div>
    
    <button class="accordionhoz"><span>What is a digital download?</span></button>
    <div class="panelbox">
      <p>A digital download is an electronic version of your software product, giving you access to download and use your new software immediately. This means that a physical CD or DVD disc is not included in your purchase. The software install program is downloaded through cloud-based storage.</p>
    </div>

    
    <button class="accordionhoz"><span>How can I be certain that my copy of Microsoft Office is legitimate?</span></button>
    <div class="panelbox">
      <p>We encourage all our customers to register their email address with their specific Microsoft Office Product key via Microsoft online activation to ensure verification and tracking of their authentic software products.</p>
    </div>

    <button class="accordionhoz"><span>Is your software legitimate?</span></button>
    <div class="panelbox">
      <p>All our software products are 100% legitimate and authentic. They are all covered by our company's hassle-free money-back guarantee.</p>
    </div>  
    
    <button class="accordionhoz"><span>Can I buy one licensed software and install on multiple computers?</span></button>
    <div class="panelbox">
      <p>OEM and Retail Product software licenses are designed to install and activate on one computer only, unless otherwise specified.</p>
    </div>
    
    
    <button class="accordionhoz"><span>Am I able to re-install the software on another machine should my operating system
        crashed or computer hardware failed?</span></button>
    <div class="panelbox">
      <p>OEM and Retail software licenses will allow activation on one machine only.</p>
    </div>
    
    
    <button class="accordionhoz"><span>Can I order a hardcopy DVD/CD disc of the software I purchased?</span></button>
    <div class="panelbox">
        <p>Here at Softwaredepot, we rely on fast and efficient digital delivery service. This means no waiting for a physical product to be delivered, you can download your new software immediately. You have the option to backup your software after purchase to the device of your preference (ex. USB drive, disc, external hard drive).    </p>
    </div>
    
    <button class="accordionhoz"><span>Is Windows Vista upgradable to Windows 7, 8 or 10?</span></button>
    <div class="panelbox">
       <p>Absolutely, it is possible to upgrade Windows Vista to a more recent Microsoft Windows edition. However, this process will require a 'Clean' or 'Parallel Installation', followed by selecting the Custom-Install process. Please refer to your machine's hardware specification for more information on installation.</p>
    </div>
    
    <button class="accordionhoz"><span>Do you supply software products in volume or bulk orders?</span></button>
    <div class="panelbox">
       <p>Large-volume purchases can certainly be arranged by contacting us directly, via email, live chat, or phone. We'll send you a comprehensive quotation with details of the product of your interest.</p>
    </div>
    
    <button class="accordionhoz"><span>When items are out of stock, how long does it take for those items to be restocked?</span></button>
    <div class="panelbox">
       <p>We follow our company's Return Policy strictly to avoid possibly invalidating the product key for your software.</p>
    </div>
    
    
    <button class="accordionhoz"><span>How do I request a price match from Softwaredepot?</span></button>
    <div class="panelbox">
       <p>When making a purchase, price match requests from Softwaredepot are handled via Chat or Email. Please send us the URL link of the lower price that is still in effect that you want us to price match. Softwaredepot will then review and verify the price match request and the authenticity of the competitor's products.</p>
    </div>
    
    
    <button class="accordionhoz"><span>Can I ask for a price match after a purchase from Softwaredepot?</span></button>
    <div class="panelbox">
       <p>A price match request after a purchase from Softwaredepot will not be honoured.</p>
    </div>
    
    
    <button class="accordionhoz"><span>What do I need to provide?</span></button>
    <div class="panelbox">
       <p>You'll need to provide: The URL of the competitor's offer you'd like us to beat. The competitor's sale price.</p>
    </div>
    
    <button class="accordionhoz"><span>How Digital Downloads Work?</span></button>
    <div class="panelbox">
       <ul>
        <li>Step 1: Search for the desired product</li>
        <li>Step 2: Select the software you need</li>
        <li>Step 3: Proceed to cart as a quest or create an account</li>
        <li>Step 4: Receive your software in minutes in your email</li>
        <li>Final Step: Download and Install your purchased software</li>
       </ul>
    </div>
    
    <button class="accordionhoz"><span>How to uninstall your Download?</span></button>
    <div class="panelbox">
       <strong>Mac:</strong>
       <ul>
        <li>Step 1: Click on Finder icon</li>
        <li>Step 2: Click on Application folder</li>
        <li>Step 3: Drag the Microsoft Office folder to Trash</li>
        <li>Step 4: Remove preference and license files and Office folder and Open library folder and move all com.microsoft files to trash</li>
        <li>Step 5: Empty thrash, If there’s anything in Trash you want to keep, be sure to make a copy before you continue, Click Finder > Empty Trash</li>
       </ul>
    
       <strong>Windows:</strong>
       <ul>
        <li>Step 1: Open Programs and Features by clicking the Start button</li>
        <li>Step 2: Click on Control Panel</li>
        <li>Step 3: After click on Programs option</li>
        <li>Step 4: Receive your software in minutes in your email</li>
        <li>Step 4: And then, Click on Programs and Features and follow the Microsoft Office steps to uninstall</li>
       </ul>
    
    </div>
      
    </section>