<div id="formac-overlay-container" class="d-flex overlay-menu">

<div id="formac-overlay-menu" class="white-bg subcategories">
<div class="border-box">
<div class="relative">
<a id="macoverlay-menu-link" class="overlay-menu-title-link" href="/collections/microsoft-office-for-mac">
  <h2 class="dark-blue" style="margin-bottom: 36px; width: fit-content;">Microsoft Office For Mac</h2>
</a>
<span id="formac-remove-btn" class="absolute overlay-remove-btn">
  <img src="{{ 'dark-blue-cross.svg' | asset_url }}">
</span>
</div>

<div class="d-flex">

<ul class="overlay-menu-list" style="margin-bottom: 35px; margin-right: 44%;">
<p class="bright-orange"><b>By Use</b></p>
<a href="/collections/home-and-student-for-mac"><li>Home & Student</li></a>
<a href="/collections/home-and-business-for-mac"><li>Home & Business</li></a>
<a href="/collections/microsoft-office"><li>For PC</li></a>
</ul>

<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<p class="bright-orange"><b>Application</b></p>
<li><a href="/collections/word">Word</a></li>
<li><a href="/collections/excel">Excel</a></li>
<li><a href="/collections/powerpoint">Powerpoint</a></li>
<li><a href="/collections/outlook">Outlook</a></li>
</ul>

</div>

<div class="d-flex space-between">

<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<p class="bright-orange"><b>By Year</b></p>
<a href="/collections/microsoft-office-2021-for-mac"><li>2021</li></a>
<a href="/collections/microsoft-office-2019-for-mac"><li>2019</li></a>
<a href="/collections/microsoft-office-2016-for-mac"><li>2016</li></a>
<a href="/collections/microsoft-office-2011-for-mac"><li>2011</li></a>
</ul>

{% comment %}
<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<p class="bright-blue"><b>Others</b></p>
<li>Compare Microsoft Office</li>
<li>Find the best Office for you</li>
</ul>
{% endcomment %}

</div>

</div>
</div>

<div id="formac-overlay-upsell" class="overlay-upsell light-grey relative upsell">
  <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/mac2019hs.png?36358" loading="lazy" class="absolute"
  style="top: 28%; height: 500px; z-index: -2;">
<div>
<h2 class="black-font" style="font-size: 42px; margin-bottom: 15px;">Office 2019 Home & Student for Mac</h2>
<p class="plus-two-font" style="text-decoration: line-through; margin-bottom: 10px;"><b>£119.99</b></p>
<p class="plus-two-font black-font" style="margin-bottom: 12px;">GBP£</p>
<div class="d-flex" style="align-items: flex-end;">
<h2 class="black-font" style="font-size: 42px;">109</h2>
<p class="black-font">99</p>
</div>
<a href="/products/microsoft-office-2019-home-and-student-for-mac">
  <button class="pbutton linear-blue uppercase" style="width: 108px; margin-top: 25px;">Buy now</button>
</a>
</div>
</div>

</div>
