<div class="mobile-only white-bg mobile-more-menu">

<div>
    <span class="mobile-more-remove absolute">{% include 'icon-close' %}</span>

    <div style="margin-bottom: 45px;">
      <a href="/pages/covid-19-help">
        <span class="white-font font-medium" style="background: #FF7676; border-radius: 2px; padding: 5px 15px;">COVID-19 help</span>
      </a>
    </div>

  <ul>

    <li class="filter-item" style="margin-bottom: 45px;">
      <h3 class="dark-blue filter-title filter-category" style="font-size: 30px; padding: 0;
      background: transparent!important;">Microsoft Office</h3>

      <ul class="filter-content" style="padding: 40px 0 0 20px;">

<!--         <ul class="overlay-menu-list" style="margin-bottom: 35px; margin-right: 44%;">
        <p class="bright-orange"><b>By Use</b></p>
        <a href="/collections/microsoft-office-home-and-student"><li>Home & Student</li></a>
        <a href="/collections/microsoft-office-home-and-business"><li>Home & Business</li></a>
        <a href="/collections/microsoft-office-professional"><li>Professional</li></a>
        <a href="/collections/microsoft-office-professional-plus"><li>Professional Plus</li></a>
        <a href="/collections/microsoft-office-for-mac"><li>For Mac</li></a>
        </ul> -->

        <ul class="overlay-menu-list" style="margin-bottom: 35px;">
        <p class="bright-orange"><b>Application</b></p>
        <a href="/collections/word"><li>Word</li></a>
        <a href="/collections/excel"><li>Excel</li></a>
        <a href="/collections/powerpoint"><li>Powerpoint</li></a>
        <a href="/collections/outlook"><li>Outlook</li></a>
        <a href="/collections/project"><li>Project</li></a>
        <a href="/collections/visio"><li>Visio</li></a>
        <a href="/collections/publisher"><li>Publisher</li></a>
        <a href="/collections/access"><li>Access</li></a>
        </ul>

        <ul class="overlay-menu-list" style="margin-bottom: 35px;">
        <p class="bright-orange"><b>By Year</b></p>
        <a href="/collections/microsoft-office-2019"><li>2019</li></a>
        <a href="/collections/microsoft-office-2016"><li>2016</li></a>
        <a href="/collections/microsoft-office-2013"><li>2013</li></a>
        <a href="/collections/microsoft-office-2010"><li>2010</li></a>
        </ul>

      </ul>
    </li>

    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title filter-year" style="font-size: 30px; padding: 0;
      background: transparent!important;">Office for Mac</h3>

      <ul class="filter-content" style="padding: 40px 0 0 20px;">

<!--         <ul class="overlay-menu-list" style="margin-bottom: 35px; margin-right: 44%;">
        <p class="bright-orange"><b>By Use</b></p>
        <a href="/collections/home-and-student-for-mac"><li>Home & Student</li></a>
        <a href="/collections/home-and-business-for-mac"><li>Home & Business</li></a>
        <a href="/collections/microsoft-office"><li>For PC</li></a>
        </ul> -->

        <ul class="overlay-menu-list" style="margin-bottom: 35px;">
        <p class="bright-orange"><b>Application</b></p>
        <a href="/collections/word"><li>Word</li></a>
        <a href="/collections/excel"><li>Excel</li></a>
        <a href="/collections/powerpoint"><li>Powerpoint</li></a>
        <a href="/collections/outlook"><li>Outlook</li></a>
        <a href="/collections/project"><li>Project</li></a>
        <a href="/collections/visio"><li>Visio</li></a>
        <a href="/collections/publisher"><li>Publisher</li></a>
        <a href="/collections/access"><li>Access</li></a>
        </ul>

        <ul class="overlay-menu-list" style="margin-bottom: 35px;">
        <p class="bright-orange"><b>By Year</b></p>
        <a href="/collections/microsoft-office-2019-for-mac"><li>2019</li></a>
        <a href="/collections/microsoft-office-2016-for-mac"><li>2016</li></a>
        <a href="/collections/microsoft-office-2011-for-mac"><li>2011</li></a>
        </ul>

      </ul>
    </li>

    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title" style="font-size: 30px; padding: 0;
      background: transparent!important;">Office Apps</h3>

      <ul class="filter-content" style="padding: 40px 0 0 20px;">

        <ul class="overlay-menu-list" style="margin-bottom: 35px;">
        <p class="bright-orange"><b>By Software</b></p>
        <a href="/collections/word"><li>Word</li></a>
        <a href="/collections/excel"><li>Excel</li></a>
        <a href="/collections/powerpoint"><li>Powerpoint</li></a>
        <a href="/collections/outlook"><li>Outlook</li></a>
        <a href="/collections/project"><li>Project</li></a>
        <a href="/collections/visio"><li>Visio</li></a>
        <a href="/collections/access"><li>Access</li></a>
        <a href="/products/skype-for-business-server-2019"><li>Skype</li></a>
        </ul>

      </ul>
    </li>

    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title" style="font-size: 30px; padding: 0;
      background: transparent!important;">Windows</h3>

      <ul class="filter-content" style="padding: 40px 0 0 20px;">

        <ul class="overlay-menu-list" style="margin-bottom: 35px; margin-right: 32%;">
        <a href="/collections/windows"><p class="bright-orange"><b>Windows</b></p></a>
        <a href="/collections/windows-10"><li>Windows 10</li></a>
        <a href="/collections/windows-8"><li>Windows 8</li></a>
        <a href="/collections/windows-7"><li>Windows 7</li></a>
        </ul>

        <ul class="overlay-menu-list" style="margin-bottom: 35px;">
        <a href="/collections/windows-server"><p class="bright-orange"><b>Windows Server</b></p></a>
        <a href="/collections/windows-server-2019"><li>Windows Server 2019</li></a>
        <a href="/collections/windows-server-2016"><li>Windows Server 2016</li></a>
        <a href="/collections/windows-server-2012"><li>Windows Server 2012</li></a>
        <a href="/collections/windows-server-2008"><li>Windows Server 2008</li></a>
        <a href="/collections/windows-server-2012-r2"><li>Windows Server 2012 R2</li></a>
        <a href="/collections/windows-server-2008-r2"><li>Windows Server 2008 R2</li></a>
        <a href="/collections/windows-sql-server-2012"><li>Windows SQL Server 2012</li></a>
        <a href="/collections/windows-sql-server-2014"><li>Windows SQL Server 2014</li></a>
        <a href="/collections/windows-sql-server-2016"><li>Windows SQL Server 2016</li></a>
        </ul>

      </ul>
    </li>

    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title" style="font-size: 30px; padding: 0;
      background: transparent!important;">Antivirus</h3>

      <ul class="filter-content" style="padding: 40px 0 0 20px;">

        <ul class="overlay-menu-list" style="margin-bottom: 35px;">
        <p class="bright-orange"><b>By Brand</b></p>
        <a href="/collections/antivirus-trend-micro"><li>Trend Micro</li></a>
        <a href="/collections/antivirus-symantec"><li>Symantec</li></a>
        </ul>



      </ul>
    </li>

    <li class="filter-item" style="margin-bottom: 45px";>
      <a href="/collections/others">
      <h3 class="dark-blue" style="font-size: 30px; padding: 0;
      background: transparent!important;">Others</h3>
    </a>
    </li>

    {% comment %}
    <li class="filter-item" style="margin-bottom: 45px";>
      <a href="/blogs/news">
      <h3 class="dark-blue" style="font-size: 30px; padding: 0;
      background: transparent!important;">Blog</h3>
    </a>
    </li>
    {% endcomment %}

  </ul>

</div>

</div>
