<div class="mobile-only white-bg mobile-filter">

<div>
    <span class="mobile-filter-remove absolute">{% include 'icon-close' %}</span>

  <ul>

    <li class="filter-item" style="margin-bottom: 45px;">
      <h3 class="dark-blue filter-title filter-category" style="font-size: 30px; padding: 0;
      background: transparent!important;">Category</h3>

      <ul class="filter-content  tag-container" style="padding: 40px 0px 25% 20px;">
      </ul>
    </li>

    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title filter-year" style="font-size: 30px; padding: 0;
      background: transparent!important;">Year</h3>

      <ul class="filter-content tag-container" style="padding: 40px 0px 25% 20px;">
      </ul>
    </li>

    {% comment %}
    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title" style="font-size: 30px; padding: 0;
      background: transparent!important;">offers</h3>

      <ul class="filter-content tag-container" style="padding: 40px 0px 25% 20px;">
      </ul>
    </li>
    {% endcomment %}

    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title filter-price" style="font-size: 30px; padding: 0;
      background: transparent!important;">Price</h3>

      <ul class="filter-content tag-container" style="padding: 40px 0px 25% 20px;">
      </ul>
    </li>

    {% comment %}
    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title" style="font-size: 30px; padding: 0;
      background: transparent!important;">Devices</h3>

      <ul class="filter-content tag-container" style="padding: 40px 0px 25% 20px;">
      </ul>
    </li>
    {% endcomment %}

    <li class="filter-item" style="margin-bottom: 45px";>
      <h3 class="dark-blue filter-title filter-os" style="font-size: 30px; padding: 0;
      background: transparent!important;">Operating System</h3>

      <ul class="filter-content tag-container" style="padding: 40px 0px 25% 20px;">
      </ul>
    </li>

  </ul>

</div>

</div>
