<div id="msoffice-overlay-container" class="d-flex overlay-menu">

<div id="msoffice-overlay-menu" class="white-bg subcategories">
<div class="border-box">
<div class="relative">
<a id="msoverlay-menu-link" class="overlay-menu-title-link" href="/collections/microsoft-office">
  <h2 class="dark-blue" style="margin-bottom: 36px; width: fit-content;">Microsoft Office Products</h2>
</a>
<span id="msoffice-remove-btn" class="absolute overlay-remove-btn">
  <img src="{{ 'dark-blue-cross.svg' | asset_url }}">
</span>
</div>

<div class="d-flex">

<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<p class="bright-orange"><b>Application</b></p>
<a href="/collections/word"><li>Word</li></a>
<a href="/collections/excel"><li>Excel</li></a>
<a href="/collections/powerpoint"><li>Powerpoint</li></a>
<a href="/collections/outlook"><li>Outlook</li></a>
<a href="/collections/project"><li>Project</li></a>
<a href="/collections/visio"><li>Visio</li></a>
<a href="/collections/publisher"><li>Publisher</li></a>
<a href="/collections/access"><li>Access</li></a>
</ul>

</div>

<div class="d-flex space-between">

<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<p class="bright-orange"><b>By Year</b></p>
<a href="/collections/microsoft-office-2021"><li>2021</li></a>
<a href="/collections/microsoft-office-2019"><li>2019</li></a>
<a href="/collections/microsoft-office-2016"><li>2016</li></a>
<a href="/collections/microsoft-office-2013"><li>2013</li></a>
<a href="/collections/microsoft-office-2010"><li>2010</li></a>
</ul>

</div>

</div>
</div>

<div id="msoffice-overlay-upsell" class="overlay-upsell relative upsell"
style="background-color: #F2F5F7; background-position-y: -200%;">
<img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/office2019hb.png?36348" loading="lazy" class="absolute"
style="top: 25%; height: 500px; z-index: -2;">
<div>
<h2 class="black-font" style="font-size: 42px; margin-bottom: 15px;">Office 2019 Home & Business</h2>
<p class="plus-two-font" style="text-decoration: line-through; margin-bottom: 10px;"><b>£207.24</b></p>
<p class="plus-two-font black-font" style="margin-bottom: 12px;">GBP£</p>
<div class="d-flex" style="align-items: flex-end;">
<h2 class="black-font" style="font-size: 42px;">119</h2>
<p class="black-font">99</p>
</div>
<a href="/products/microsoft-office-2019-home-and-business">
  <button class="pbutton linear-blue uppercase" style="width: 108px; margin-top: 25px;">Buy now</button></a>
</div>
</div>

</div>
