{% if collection.handle contains 'for-mac' %}
<div class="light-grey desktop-only" style="flex: 0 0 62%; height: fit-content; margin-right: 2.8%;">
  <div style="height: 88%; padding: 58px 70px 56px; box-sizing: border-box;">
    <h2 class="dark-blue">Office 2011<br/>For mac</h2>

    <ul class="d-flex align-center space-between">
      <div>
        <h4 style="margin-bottom: 20px; font-size: 22px;"><b>Starting at</b></h4>
        <p class="dark-blue">AUD$</p>
        <h1 class="dark-blue" style="font-size: 64px; font-weight: 400;">74<span class="bigger-font">99</span></h1>
      </div>

      <img src="https://cdn2.shopify.com/s/files/1/0244/3614/6228/files/2011hsintl.png?25889" style="width: 50%;">
    </ul>

    <a href="/collections/microsoft-office-2011-for-mac"><button class="pbutton linear-blue uppercase">explore</button></a>
  </div>
</div>
{% endif %}
