<!-----##### Variant checkbox #####----->
<form class="vcheckbox d-flex space-between" action="">
<div class="product-checkbox-item d-flex white-bg"><input type="radio" name="gender" value="male" />
<ul class="dark-blue" style="margin-left: 10px; font-size: 12px;">
<li style="margin-bottom: 4px;">Physical: <span class="bright-blue">DVD / USB</span></li>
<li><b>USD $249,00</b></li>
</ul>
</div>
<div class="product-checkbox-item d-flex white-bg"><input type="radio" name="gender" value="female" />
<ul class="dark-blue" style="margin-left: 10px; font-size: 12px;">
<li style="margin-bottom: 4px;">Digital: <span class="bright-blue">Download instantly</span></li>
<li><b>USD$199.99</b></li>
</ul>
</div>
</form>
<!-----##### Spec #####----->
<div class="pspec">
<p class="dark-blue">Works on: <span class="light-blue">Mac &amp; PC</span> <br /> License type: <span class="light-blue">Lifetime</span><br /> Devices: <span class="light-blue">1</span></p>
<p class="dark-blue">Software includes:</p>
<ul class="app-icon d-flex space-between" style="margin-top: 14px; margin-bottom: 24px;">
<li class="app-icon-item" style="background-color: #d14424;"><img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt.png?5372" /></li>
<li class="app-icon-item" style="background-color: #295497;"><img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word.png?5372" /></li>
<li class="app-icon-item" style="background-color: #1f7244;"><img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel.png?5372" /></li>
<li class="app-icon-item" style="background-color: #077265;"><img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-publisher.png?5372" /></li>
<li class="app-icon-item" style="background-color: #006ec3;"><img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook.png?5372" /></li>
<li class="app-icon-item" style="background-color: #7f377a;"><img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-onenote.png?5372" /></li>
<li class="app-icon-item" style="background-color: #a33539;"><img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-access.png?5372" /></li>
</ul>
<a>
<p class="d-flex light-blue underline">Have trouble? Chat with us</p>
</a></div>
<!-----##### Description #####----->
<div class="pdescription">
<p><span>One simple download on one computer allows you access to the four classic applications from Microsoft. Back up download is supported in case you have a tech emergency or last minute pc crash.<br /><br /> Adds convenience to your schoolwork, giving you more time to enjoy yourself. Upgraded features focus on efficiency and intuitive layout. Easily allows you to share your content, making it easier to hand work in or share with classmates you're collaborating with. One time purchase, which saves you money. No monthly subscription fee means you have less to keep track of. Work with your classmates, without being face to face. Work at your own pace, or simultaneously. Share notes and brainstorm by sharing through OneNote, and make coordination for team projects easy and efficient. Wow your class with a PowerPoint presentation that includes updated templates, themes, transitions, and animations. Being a student is a tough time for many people, so Microsoft wants to make it easier for you. With Office 2019 Home Student, you’ll be able to access all of the classic applications that will help you succeed in school and achieve your goals. The upgraded features are designed to help you get through your school assignments faster, easier, and end up with a more polished end product. With one simple download, you’ll have access to the four classic applications, including Excel, PowerPoint, Word and OneNote. These applications are easy to use, and also add convenience to your schoolwork as well.</span></p>
</div>
<!---------- Features ---------->
<div class="pfeature">
<h3 style="margin-bottom: 30px;">Working Together is a Breeze</h3>
<p style="line-height: 30px;"><span>With these applications, you can share them with teachers, friends, and classmates; this allows them to edit and add any content that is needed. Sharing with your teachers helps you with the editing process, and grading papers is a breeze. <br /><br /> If you are part of a group project, you no longer will have to meet up to work together. Instead, you can send your portion of the project to your classmate and they can add in their portion. Then, you all can go over it to make sure it is perfect before handing it in.</span></p>
</div>
<!------##### Feature apps #####------>
<div class="pfeature-app" style="margin-top: 30px;">
<div class="d-flex space-between">
<div class="pfeature-app-item">
<div class="pfeature-app-bg black-bg"></div>
<div class="pfeature-app-content white-bg">
<h3>Microsoft Word</h3>
<p>Word is a great application for you to write papers; including spell check, search feature, and different page layouts, it allows you to create the perfect paper, every time.</p>
</div>
</div>
<div class="pfeature-app-item">
<div class="pfeature-app-bg black-bg"></div>
<div class="pfeature-app-content white-bg">
<h3>Microsoft Excel</h3>
<p>Excel allows you to track anything you need to, you’ll no longer have to add information together, Excel will automatically do it for you.</p>
</div>
</div>
</div>
<div class="d-flex space-between" style="margin-top: 35px;">
<div class="pfeature-app-item">
<div class="pfeature-app-bg black-bg"></div>
<div class="pfeature-app-content white-bg">
<h3>Microsoft OneNote</h3>
<p>OneNote is the best notepad you can ever have! You can easily write down any notes, lists, or ideas and have them kept safe.</p>
</div>
</div>
<div class="pfeature-app-item">
<div class="pfeature-app-bg black-bg"></div>
<div class="pfeature-app-content white-bg">
<h3>Content on the Go</h3>
<p>The days of saving presentations onto a flash drive are over, thanks to OneDrive. OneDrive allows you to save content on your account and access it from anywhere! It is safely stored on the cloud, and will be backed up.</p>
</div>
</div>
</div>
</div>
<!-----##### System requirements #####------->
<div class="psr-content">
<h3>Minimum Required</h3>
<p>Memory: <span class="light-blue">2GB RAM</span></p>
<p>Display: <span class="light-blue">1280 x 768 resolution</span></p>
<p>Operating System: <span class="light-blue">Windows 10</span></p>
<p>Browser: <span class="light-blue">Most recent version of your preferred browser</span></p>
<p>Internet access may be required</p>
<p>Hard Disk: <span class="light-blue">4GB need to be available</span></p>
<p>Computer or Processor: 2 core and 1.6 gigahertz or faster</p>
<p>Touch features require a touch enabled device, and usually Windows 10 as well</p>
</div>