<section class="three-col-width blueg-bg desktop-only">
  <div class="title-header">
      <h2 class="section-heading">Our Reviews</h2>
 </div>
  <div class="container-lg center-block">
    <div class="large-margin">
        <div class="review-block-container d-flex space-between">
            <div class="review-block-three light-grey col-3-info">
              <ul class="d-flex space-between">{% include 'review-stars' %}</ul>
              <h6 class="name-rev">Sherlock Ganz</h6>
              <p class="testimonial-rev">“OMG..This is REAL CUSTOMER SERVICE. No fake script or repeating my name or fake addressing the customer. Friendly, helpful, ethical. CS as good as Apple...and I love Apple.”</p>
            </div>
            <div class="review-block-three light-grey col-3-info">
              <ul class="d-flex space-between">{% include 'review-stars' %}</ul>
              <h6 class="name-rev">Carl Bertoni</h6>
              <p class="testimonial-rev">“Excellent and quick service, I would highly recommend using them for your software needs. My technician was Joe, guy is amazing!”</p>
            </div>
            <div class="review-block-three light-grey col-3-info">
              <ul class="d-flex space-between">{% include 'review-stars' %}</ul>
              <h6 class="name-rev">Andy Hudson</h6>
              <p class="testimonial-rev">“The Best support! I generally find IT support functions severely lacking....However Anne at Catsoft was a beacon of help quick and efficient. I will use Catsoft again”</p>
            </div>
      </div>
    </div>
  </div>
  </section>

<section class="three-col-width blueg-bg mobile-only sliderreviewsection">
  <div class="title-header">
    <h2 class="section-heading">Our Reviews</h2>
  </div>
<div class="sliderreview">
  <input type="radio" name="sliderreview" title="slide1" checked="checked" class="sliderreview__nav"/>
  <input type="radio" name="sliderreview" title="slide2" class="sliderreview__nav"/>
  <input type="radio" name="sliderreview" title="slide3" class="sliderreview__nav"/>
  <div class="sliderreview__inner">
    <div class="sliderreview__contents">
          <ul class="d-flex">{% include 'review-stars' %}</ul>
          <h6 class="name-rev sliderreview__caption">Calvince</h6>
          <p class="testimonial-rev sliderreview__txt">“This company is boom man, Highly recommanded”</p>
    </div>
    <div class="sliderreview__contents">
      <ul class="d-flex">{% include 'review-stars' %}</ul>
      <h6 class="name-rev sliderreview__caption">Allan b Santos</h6>
      <p class="testimonial-rev sliderreview__txt">“This company is boom man, Highly recommanded”</p>
    </div>
    <div class="sliderreview__contents">
      <ul class="d-flex">{% include 'review-stars' %}</ul>
      <h6 class="name-rev sliderreview__caption">Ronnie Teja</h6>
      <p class="testimonial-rev sliderreview__txt">“This company is boom man, Highly recommanded”</p>
    </div>  
  </div>
</div>
</section>