<div class="d-flex overlay-menu">
  <div id="smart-search-menu" class="white-bg">
    <div style="padding: 55px 30px 300px 150px; box-sizing: border-box;">

      <div class="relative">
        <p class="sm-font dark-blue">Most popular</p>
        <button id="smart-search-remove" class="absolute overlay-remove-btn" style="left: 92.8%;"><img src="{{ 'dark-blue-cross.svg' | asset_url }}"></button>
      </div>

      <ul class="d-flex space-between" style="margin-top: 10px;">
        <a href="/collections/microsoft-office">
          <li class="text-center sm-font popular-search-item">Microsoft Office</li>
        </a>
        <a href="/collections/microsoft-office-2019">
        <li class="text-center sm-font popular-search-item">Office 2019</li>
        </a>
        <a href="/collections/microsoft-office-for-mac">
        <li class="text-center sm-font popular-search-item">Office for Mac</li>
        </a>
        <a href="/collections/windows-10">
        <li class="text-center sm-font popular-search-item">Windows 10</li>
        </a>
      </ul>

    </div>
  </div>

  <div id="smart-search-upsell" class="overlay-upsell" style="background-image: url('https://cdn2.shopify.com/s/files/1/0244/3614/6228/files/search-overlay.png?22657');">
  <div>
  <h2 class="black-font" style="font-size: 42px; margin-bottom: 15px;">Office 2011<br/>For mac</h2>
  <p class="plus-two-font white-font" style="text-decoration: line-through; margin-bottom: 10px;"><b>$258.98</b></p>
  <p class="plus-two-font black-font" style="margin-bottom: 12px;">CAD$</p>
  <div class="d-flex" style="align-items: flex-end;">
  <h2 class="black-font" style="font-size: 42px;">99</h2>
  <p class="black-font">99</p>
  </div>
  <button class="pbutton linear-blue uppercase" style="margin-top: 25px; padding: 16px 0;">Buy now</button>
  </div>
  </div>

</div>
