<section class="three-col-width blueg-bg productpage">
  <div class="container-lg center-block">
    <div class="large-margin">
        <div class="review-block-container d-flex space-between">
            <div class="featuredescrp light-grey col-3-info">
              <img src="{{ 'cloud-computing.png' | asset_url }}" />
              <h6>Instant Digital Download</h6>
              <p>Get a copy of your product in less than 30 minutes.</p>
            </div>
            <div class="featuredescrp light-grey col-3-info">
              <img src="{{ 'guarantee.png' | asset_url }}" />
              <h6>30 Days Money Back Guarentee</h6>
              <p>Buy once, use forever because you’re worth it.</p>
            </div>
            <div class="featuredescrp light-grey col-3-info desktop-only">
              <img src="{{ 'new-year.png' | asset_url }}" />
              <h6>Year round Customer Support</h6>
              <p>Our IT specialists will provide you with the answers you need.</p>
            </div>
          </div>
      	<div class="featuredescrp light-grey col-3-info mobile-only">
              <img src="{{ 'new-year.png' | asset_url }}" />
              <h6>Year round Customer Support</h6>
              <p>Our IT specialists will provide you with the answers you need.</p>
        </div>

    </div>
  </div>
  </section>
  