<div id="windows-overlay-container" class="d-flex overlay-menu">

<div id="windows-overlay-menu" class="white-bg subcategories">
<div class="border-box">
<div class="relative">
<a id="windows-overlay-menu-link" class="overlay-menu-title-link" href="/collections/microsoft-windows">
  <h2 class="dark-blue" style="margin-bottom: 36px; width: fit-content;">Microsoft Windows</h2>
</a>
<span id="windows-remove-btn" class="absolute overlay-remove-btn">
  <img src="{{ 'dark-blue-cross.svg' | asset_url }}">
</span>
</div>

<div class="d-flex">

<ul class="overlay-menu-list" style="margin-bottom: 35px; margin-right: 32%;">
<a href="/collections/windows"><p class="bright-orange"><b>Windows</b></p></a>
<a href="/collections/microsoft-windows-11"><li>Windows 11</li></a>
<a href="/collections/windows-10"><li>Windows 10</li></a>
<a href="/collections/windows-8"><li>Windows 8</li></a>
<a href="/collections/windows-7"><li>Windows 7</li></a>
</ul>

<ul class="overlay-menu-list" style="margin-bottom: 35px;">
<a href="/collections/windows-server"><p class="bright-orange"><b>Windows Server</b></p></a>
  <a href="/collections/windows-server-2022"><li>Windows Server 2022</li></a>
<a href="/collections/windows-server-2019"><li>Windows Server 2019</li></a>
<a href="/collections/windows-server-2016"><li>Windows Server 2016</li></a>
<a href="/collections/windows-server-2012"><li>Windows Server 2012</li></a>
<a href="/collections/windows-server-2008"><li>Windows Server 2008</li></a>
<a href="/collections/windows-server-2012-r2"><li>Windows Server 2012 R2</li></a>
<a href="/collections/windows-server-2008-r2"><li>Windows Server 2008 R2</li></a>
<a href="/collections/windows-sql-server-2012"><li>Windows SQL Server 2012</li></a>
<a href="/collections/windows-sql-server-2014"><li>Windows SQL Server 2014</li></a>
<a href="/collections/windows-sql-server-2016"><li>Windows SQL Server 2016</li></a>
</ul>

</div>

</div>
</div>

<div id="windows-overlay-upsell" class="overlay-upsell light-grey relative upsell">
  <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/win10pro32.png?36376" loading="lazy"
  class="absolute"
  style="top: 38%; left: -3%; height: 500px; z-index: -2;">
<div>
<h2 class="black-font" style="font-size: 42px; margin-bottom: 15px;">Windows 10 Pro</h2>
<p class="plus-two-font black-font" style="margin-bottom: 12px;">GBP£</p>
<div class="d-flex" style="align-items: flex-end;">
<h2 class="black-font" style="font-size: 42px;">89.99</h2>
</div>
<a href="/products/microsoft-windows-10-pro-edition-32-bit">
<button class="pbutton linear-orange uppercase" style="margin-top: 25px;">Buy now</button>
</a>
</div>
</div>

</div>
