<footer>
  <div class="container-lg center-block">
  <div class="large-margin">
  
  <section class="link-list d-flex space-between desktop-only">
  
    <div class="list md-col-4">
      <div class="d-flex space-between align-center"><p class="list-title">My getmsoffice</p></div>
        <ul>
          <li class="menu-list-item"><a href="/account/login">Login</a></li>
          <li class="menu-list-item"><a href="/account">My account</a></li>
          <li class="menu-list-item"><a href="/cart">My cart</a></li></a>
        </ul>
      </div>
  
      <div class="list md-col-4">
        <div class="d-flex space-between align-center"><p class="list-title">Company</p></div>
        <ul>
          <li class="menu-list-item"><a href="/pages/about">About</a></li>
          <li class="menu-list-item"><a href="/blogs/news">Blog</a></li>
          <li class="menu-list-item">
            <a href="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/EULA_Microsoft_v052012.pdf?34402">EULA</a>
          </li>
          <li class="menu-list-item"><a href="/pages/privacy-statement">Privacy & Cookies</a></li>
          <li class="menu-list-item"><a href="/pages/terms-and-conditions">Terms & Conditions</a></li>
        </ul>
        </div>
  
    <div class="list md-col-4">
      <div class="d-flex space-between align-center"><p class="list-title">Services</p></div>
      <ul>
        <li class="menu-list-item"><a href="/pages/frequently-asked-questions">FAQs</a></li>
        <li class="menu-list-item"><a href="/pages/knowledge-base">Knowledge Base</a></li>
        {% comment %}<li class="menu-list-item">Choose the best office</li>{% endcomment %}
        <li class="menu-list-item"><a href="/pages/refund-and-return-policies">Refund & Returns</a></li>
      </ul>
    </div>
  
    <div class="list md-col-4">
      <div class="d-flex space-between align-center"><p class="list-title">Contact</p></div>
      <ul>
        <li class="menu-list-item add-icon"><i class="fa-solid fa-location-dot"></i> <p class="i-map-foot">12345 Lake City Way NE #3123 Seattle, WA 98125 595 Burrard St Vancouver, BC V7X 1L7</p></li>
        <li class="menu-list-item phone-icon"><i class="fa-solid fa-phone"></i><a href="callto:+448000488538">Telephone: +44 800 048 8538</a></li>
        <li class="menu-list-item email-icon"><i class="fa-solid fa-envelope"></i><a href="mailto:sales@getmsoffice.com">sales@getmsoffice.com</a></li>
        <li class="menu-list-item email-icon">The Search People Enterprises Ltd</li>
      </ul>
      
  <ul class="social-media-area">
  
    <li class="social-item">
        <div class="oval">
          <a href="https://twitter.com/getmsofficeuk"><img class="social-media-icon" src="{{ 'tw.png' | asset_img_url: 'master' }}" loading="lazy"></a>
        </div>
    </li>
    
     <li class="social-item">
        <a href="https://www.facebook.com/getmsofficeuk/">
        <div class="oval">
          <img class="social-media-icon" src="{{ 'fb.png' | asset_img_url: 'master' }}" loading="lazy">
        </div>
      </a>
    </li>
    
    </ul>
  </section>
  
  <!--- Mobile footer --->
  
  <section class="mobile-only" style="padding-right: 22px; padding-left: 22px;">
  <ul id="accordion">
  
    <li>
        <div class="d-flex space-between align-center" style="padding-top: 20px; padding-bottom: 20px;">
         <p class="list-title">My GetMSOffice </p>
        </div>
        <ul>
          <li><a href="/account/login" class="menu-list-item">Login</a></li>
          <li><a href="/account" class="menu-list-item">My account</a></li>
          <li><a href="#" class="menu-list-item">My cart</a></li>
        </ul>
    </li>
  
    <li><div class="d-flex space-between align-center" style="padding-top: 20px; padding-bottom: 20px;">
      <p class="list-title">GetMSOffice</p></div>
    <ul>
      <li><a href="/pages/about" class="menu-list-item">About</a></li>
      <li><a href="/blogs/news" class="menu-list-item">Blog</a></li>
    </ul>
    </li>
  
  
      <li><div class="d-flex space-between align-center" style="padding-top: 20px; padding-bottom: 20px;">
      <p class="list-title">Education</p></div>
    <ul>
      <a href="/pages/frequently-asked-questions"><li class="menu-list-item">FAQs</li></a>
      <a href="/pages/knowledge-base"><li class="menu-list-item">Knowledge Base</li></a>
      {% comment %}<li class="menu-list-item">Choose the best office</li>{% endcomment %}
      <a href="/pages/refund-and-return-policies"><li class="menu-list-item">Refund & Returns</li></a>
    </ul>
  </ul>
  
  <div class="contact-info">
        <p class="list-title">Contact</p>
        <p>Marmora Road, Glasgow D04 89 GR UK</p>
        <p> John Dalton Street Manchester MA M2 6LN UK</p>
        <p><a href="callto:448000488538">+44 800 048 8538</a></p>
        <p><a href="mailto:sales@getmsoffice.com">sales@getmsoffice.com</a></p>
    	<p>The Search People Enterprises Ltd</p>
  </div>
  
  <div class="list">
  
  <ul class="space-around contact-soci-mob">
  
  <li class="social-item">
    <div class="oval">
      <a href="https://twitter.com/getmsofficeuk"><img class="social-media-icon" src="{{ 'tw.png' | asset_img_url: 'master' }}" loading="lazy"></a>
    </div>
</li>

 <li class="social-item">
    <a href="https://www.facebook.com/getmsofficeuk/">
    <div class="oval">
      <img class="social-media-icon" src="{{ 'fb.png' | asset_img_url: 'master' }}" loading="lazy">
    </div>
  </a>
</li>
  
  
  </ul>
  </div>
  </section>
  
  
  
  
  
  
  </div>
  </div>
  </footer>
  <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
      <script>
          window.___gcfg = {
              lang: 'en_US'
          };
          window.renderBadge = function() {
              var ratingBadgeContainer = document.createElement("div");
              ratingBadgeContainer.id = "googleOptInBadge";
              document.body.appendChild(ratingBadgeContainer);
              window.gapi.load('ratingbadge', function() {
                  window.gapi.ratingbadge.render(
                      ratingBadgeContainer, {
                          "merchant_id": 143879508,
                          "position": "BOTTOM_LEFT"
                  });
              });
          }
      </script>
      <style type="text/css">
          #googleOptInBadge {
              z-index: 1 !important;
              left: 56px !important;
          }
      </style>