<section class="terms-page container-lg center-block">

  <h2 class="dark-blue mobile-only" style="padding-left: 42px; font-size: 32px;">Privacy<br/>Statement</h2>

  <div class="bg-cover lazy mobile-only" style="background-image: url('https://cdn.shopify.com/s/files/1/0244/3614/6228/files/privacy-banner.png?35485');
  background-position-y: 65%; height: 250px; margin-top: 35px;"></div>

  <div class="large-margin">
      <h2 class="dark-blue desktop-only">{{ page.title }}</h2>

      <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/privacy-banner.png?35485" loading="lazy"
      class="desktop-only" style="margin-top: 50px;">

      <div class="terms-overview">
        <p>GetMsOffice United Kingdom recognizes the importance of protecting the privacy of our web users,
          email newsletter subscribers and account holders.</p>
      </div>

      <ul class="d-flex space-between" style="margin-bottom: 148px;">

        <!----##### Terms menu #####---->

        <li class="terms-menu border-box desktop-only">
          <h3>Section</h3>

          <div class="d-flex section-1" style="margin-top: 40px; margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">1</h4>
            <p class="dark-blue sm-font"><b>Collection of Information</b></p>
          </div>

          <div class="d-flex section-2" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">2</h4>
            <p class="dark-blue sm-font"><b>Consent</b></p>
          </div>

          <div class="d-flex section-3" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">3</h4>
            <p class="dark-blue sm-font"><b>Disclosure</b></p>
          </div>

          <div class="d-flex section-4" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">4</h4>
            <p class="dark-blue sm-font"><b>Email Communications</b></p>
          </div>

          <div class="d-flex section-5" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">5</h4>
            <p class="dark-blue sm-font"><b>Cookies</b></p>
          </div>

          <div class="d-flex section-6" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">6</h4>
            <p class="dark-blue sm-font"><b>Age of Consenet</b></p>
          </div>

          <div class="d-flex section-7" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">7</h4>
            <p class="dark-blue sm-font"><b>Security</b></p>
          </div>

          <div class="d-flex section-8" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">8</h4>
            <p class="dark-blue sm-font"><b>Changes to this privacy policy</b></p>
          </div>

          <div class="d-flex section-9" style="margin-bottom: 24px;">
            <h4 class="bright-blue" style="margin-right: 25px;">9</h4>
            <p class="dark-blue sm-font"><b>Questions and contact information</b></p>
          </div>

        </li>

        <!----##### Terms content #####---->

        <li class="terms-content">

          {% comment %}
          <div class="mobile-only" style="margin-bottom: 76px;">
            <select style="width: 100%;">
              <option>Select a section</option>
              <option>Section 1 - Collection of Information</option>
              <option>Section 2 - Consent</option>
              <option>Section 3 - Disclosure</option>
              <option>Section 4 - Email Communications</option>
              <option>Section 5 - Cookies</option>
              <option>Section 6 - Age of Consenet</option>
              <option>Section 7 - Security</option>
              <option>Section 8 - Changes to this privacy policy</option>
              <option>Section 9 - Questions and contact information</option>
            </select>
          </div>
          {% endcomment %}

          <div class="section-c-1" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 1 - Collection of Information</h4>
            <p style="line-height: 30px;">Business Information
              <br/><br/>
              GetMsOffice United Kingdom manages the collection of all information in strict accordance and collects only regular business card information such as name,
              title, business address, business email and business phone number.
              <br/><br/>
              Personal Information
              <br/><br/>
              We will provide specific notice before collecting any of your personal information.
              We will explain what information is being collected,
              and how the information collected will be used.
              You have the right to decline the collection of this information,
              and its subsequent use by GetMsOffice United Kingdom for marketing purposes at any time.
              <br/><br/>
              Non-Personal Information
              <br/><br/>
              Like all internet websites, our website’s operating system automatically records some general,
              non-personal information about your web visit, such as:
              <br/><br/>
              The domain of the Internet Service Provider (such as “company.com” or “service.ca”),
              and the IP address (such as “ppp-55”) of the computer used to access this site;
              The type of Web browser (such as “Internet Explorer version x” or “Chrome version x”),
              and the operating system (such as Macintosh, Unix, or Windows) used to access this site;
              Anonymous cookies data collection for marketing purposes while visiting or purchasing from the website unless you’ve opted in to participate;
              The date and time of the visit to this Website; and,
              The URLs of the various web pages which are visited on this site.
              <br/><br/>
              This tracking system does NOT record personal information about individuals</p>
          </div>

          <div class="section-c-2" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 2 - Consent</h4>
            <p style="line-height: 30px;">How do you get my consent?
              <br/><br/>
              When you provide us with personal information to complete a transaction,
              verify your credit card, place an order, arrange for a delivery or return a purchase,
              we imply that you consent to our collecting it and using it for that specific reason only.
              <br/><br/>
              If we ask for your personal information for a secondary reason, like marketing,
              we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
              <br/><br/>
              How do I withdraw my consent?
              <br/><br/>
              If after you opt-in, you change your mind, you may withdraw your consent for us to contact you,
              for the continued collection, use or disclosure of your information, at anytime,
              by contacting us at sales@getmsoffice.com.</p>
          </div>

          <div class="section-c-3" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 3 - Disclosure</h4>
            <p style="line-height: 30px;">We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>
          </div>

          <div class="section-c-4" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 4 - Email Communications</h4>
            <p style="line-height: 30px;">GetMsOffice United Kingdom uses emails marketing keep in touch with both our existing members,
              as well as individuals who have opted in to the GetMsOffice marketing terms and conditions.
              If at any time you decide you do not want to receive our email newsletter,
              simply click the link at the bottom of the email newsletter to unsubscribe.
              We will remove you email address from our newsletter list, and will do the same with your name,
              title, business address and business phone number upon request.
              <br/><br/>
              GetMsOffice United Kingdom does NOT sell email addresses or any other information to third parties.
              <br/><br/>
              Referral Links Noted On This Site
              <br/><br/>
              This policy discloses the privacy practices for our website.
              However, our website also contains links to other websites. Once you move to another site,
              you are subject to the privacy and security policies of the new site.
              We encourage you to read the privacy policies of all of the websites you visit,
              especially if you intend to share your personal information with that website.</p>
          </div>

          <div class="section-c-5" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 5 - Cookies</h4>
            <p style="line-height: 30px;">We use the above non-personal information for statistical analysis;
              up-selling; cross-selling; to help us make our website more useful to our visitors;
              and to give you the best deals possible. We may also use “cookies” that identify you as a return visitor.
              A cookie is a piece of data that a website can send to your browser,
              which may then be stored on your hard drive. We might do this so that when you come back to visit us again,
              we can tailor information to suit your individual preferences. The goal is to save you time,
              and provide you with a more meaningful visit. Cookies do NOT contain ANY personally identifying information.
              Browsers allow you to disable cookie collection if you wish,
              or inform you when a cookie is being stored on your hard drive.</p>
          </div>

          <div class="section-c-6" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 6 - Age of Consenet</h4>
            <p style="line-height: 30px;">By using this site,
              you represent that you are at least the age of majority in your state or province of residence,
              or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>
          </div>

          <div class="section-c-7" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 7 - Security</h4>
            <p style="line-height: 30px;">To protect your personal information,
              we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost,
              misused, accessed, disclosed, altered or destroyed.
              <br/><br/>
              If you provide us with your credit card information,
              the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.
              Although no method of transmission over the Internet or electronic storage is 100% secure,
              we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>
          </div>

          <div class="section-c-8" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 8 - Changes to this privacy policy</h4>
            <p style="line-height: 30px;">We reserve the right to modify this privacy policy at any time,
              so please review it frequently.
              Changes and clarifications will take effect immediately upon their posting on the website.
              If we make material changes to this policy, we will notify you here that it has been updated,
              so that you are aware of what information we collect, how we use it, and under what circumstances,
              if any, we use and/or disclose it.
              <br/><br/>
              If our store is acquired or merged with another company,
              your information may be transferred to the new owners so that we may continue to sell products to you.</p>
          </div>

          <div class="section-c-9" style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Section 9 - Questions and contact information</h4>
            <p style="line-height: 30px;">If you would like to: access, correct,
              amend or delete any personal information we have about you,
              register a complaint,
              or simply want more information contact our Privacy Compliance Officer at sales@getmsoffice.com.</p>
          </div>

        </li>

      </ul>

</div>

<div class="desktop-only">{% include 'newsletter-subscription' %}</div>

</section>
