<section>

<div class="faq-title linear-orange">
  <h1 class="white-font">{{ page.title }}</h1>
</div>

  <div class="container-lg center-block light-grey">
    <div class="faq-questions large-margin">
      <ul id="accordion">

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">What are OEM products?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container">
            <p class="dark-blue">OEM (Original Equipment Manufacturer) products or software are generally full-version software and will not function as an upgrade.
              An OEM product is always licensed for one computer, is not transferable,
              and does not come with technical support from the manufacturer.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">What are Retail Software products?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container">
            <p class="dark-blue">Retail Software products are the same products you would purchase at local software stores.
              They are packaged for retail sale and usually include the retail box, CDs, a manual, the paper license agreement,
              and an Activation key. Similar to OEM software, a Retail Product is licensed for use on one computer only.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">What is a digital download?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">A digital download is an electronic version of your software product,
              giving you access to download and use your new software immediately.
              This means that a physical CD or DVD disc is not included in your purchase.
              The software install program is ​ downloaded through cloud-based storage.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">Is your software legitimate?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">All our software products are 100% legitimate and authentic.
              They are all covered by our company's hassle-free money-back guarantee.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">How can I be certain that my copy of Microsoft Office is legitimate?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">We encourage all our customers to register their email address with their specific Microsoft Office Product key via Microsoft online activation to ensure verification and tracking of their authentic software products.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">How are you able to sell the software for so cheap?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">We work directly with our supplier to purchase large volumes to get the lowest rate possible.
              Because we save on costs, we want to ensure our valued customers save too.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">Can I buy one licensed software and install on multiple computers?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">OEM and Retail Product software licenses are designed to install and activate on one computer only,
              unless otherwise specified.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue" style="line-height: 1.5;">Am I able to re-install the software on another machine should my operating system<br/>crashed or computer hardware failed?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">OEM and Retail software licenses will allow activation on one machine only.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">Can I order a hardcopy DVD/CD disc of the software I purchased?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">Here at Softwaredepot, we rely on fast and efficient digital delivery service.
              This means no waiting for a physical product to be delivered,
              you can download your new software immediately.
              You have the option to backup your software after purchase to the device of your preference
              (ex. USB drive, disc, external hard drive).</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">Is Windows Vista upgradable to Windows 7, 8 or 10?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">Absolutely, it is possible to upgrade Windows Vista to a more recent Microsoft Windows edition.
              However, this process will require a 'Clean' or 'Parallel Installation',
              followed by selecting the Custom-Install process.
              Please refer to your machine's hardware specification for more information on installation.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">Do you supply software products in volume or bulk orders?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">Large-volume purchases can certainly be arranged by contacting us directly,
              via email, live chat, or phone. We'll send you a comprehensive quotation with details of the product of your interest.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">When items are out of stock, how long does it take for those items to be restocked?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">We strive to keep the volume of our inventory sufficient for our customers.
              In the event that we run out of a particular product,
              we will do our utmost to inform customers immediately and re-supply our stock to fill your order in the most expedient method possible.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue" style="line-height: 1.5;">Can I exchange the software I purchased for a higher edition if I have changed my mind or need something different (i.e. from Home & Student to Home & Business)?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">We follow our company's Return Policy strictly to avoid possibly invalidating the product key for your software.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">How do I request a price match from Softwaredepot?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">When making a purchase,
              price match requests from Softwaredepot are handled via Chat or Email.
              Please send us the URL link of the lower price that is still in effect that you want us to price match.
              Softwaredepot will then review and verify the price match request and the authenticity of the competitor's products.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">Can I ask for a price match after a purchase from Softwaredepot?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">A price match request after a purchase from Softwaredepot will not be honoured.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">What do I need to provide?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">You'll need to provide: The URL of the competitor's offer you'd like us to beat.
              The competitor's sale price.</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">How Digital Downloads Work?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item a-container" >
            <p class="dark-blue">Step 1: Search for the desired product
              <br/>Step 2: Select the software you need
              <br/>Step 3: Proceed to cart as a quest or create an account
              <br/>Step 4: Receive your software in minutes in your email
              <br/>Final Step: Download and Install your purchased software</p>
            </ul>
        </li>

        <li>
          <div class="q-container d-flex space-between align-center">
            <h4 class="dark-blue">How to uninstall your Download?</h4>
            <div style="transform: rotate(180deg)">{% include 'icon-bright-blue-arrow' %}</div>
          </div>
          <ul class="menu-list-item faqa-container">
            <p class="dark-blue"><strong>Mac:</strong><br/>
            Step 1: Click on Finder icon<br/>
            Step 2: Click on Application folder<br/>
            Step 3: Drag the Microsoft Office folder to Trash<br/>
            Step 4: Remove preference and license files and Office folder and Open library folder and move all com.microsoft files to trash<br/>
            Step 5: Empty thrash, If there’s anything in Trash you want to keep, be sure to make a copy before you continue, Click Finder > Empty Trash</p>
            <br/>
            <p class="dark-blue"><strong>Windows:</strong><br/>
              Step 1: Open Programs and Features by clicking the Start button<br/>
              Step 2: Click on Control Panel<br/>
              Step 3: After click on Programs option<br/>
              Step 4: And then, Click on Programs and Features and follow the Microsoft Office steps to uninstall</p>
            </ul>
        </li>


      </ul>
    </div>
  </div>

</section>

<!----##### Contact #####---->

<div class="contact-banner large-margin">
  <h2 class="dark-blue">Still not finding what you were looking for?<br/>
  Chat with us</h2>
    <button class="pbutton linear-orange uppercase" style="margin-top: 20px;">chat with us</button>
</div>

<div class="desktop-only">{% include "newsletter-subscription" %}</div>
