<section class="container-lg center-block">
  <div class="large-margin">

<!--#####     <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/Homebanne-New-Skeep_84b23e84-ef68-4a06-8206-a5141f9c5861.png?36808"
    class="center-block desktop-only" style="width: 1140px; width: 100%;">

    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/HomeBanner-Mobile_1.png?36826"
    class="center-block mobile-only" style="max-width: 400px; width: 100%;"> #####-->

    <div style="margin-top: 80px;">
      <h3 class="dark-blue" style="margin-bottom: 10px;">Our Most Epic Cyber Monday Deals Ever!</h3>
      <p>Why Settle only for Cyber Monday if you could have both Cyber Sunday and Monday? Use Promo code CYBER20 to enjoy 20% our Store.</p>

      <ul class="d-flex space-between align-center flex-wrap" style="margin-top: 50px; margin-bottom: 100px;">

        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/mac2019hs.png?36765" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home and Student for Mac</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">142</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>149</b></li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-student-for-mac">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>

        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/office2019hs.png?36779" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home and Student</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">142</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>149</b></li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-student">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>

        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/office2016hs.png?36786" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2016 Home & Student</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">134</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2016-home-student">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-2019-professional-plus-11534403600436.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Professional Plus</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">797.00</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2019-professional-plus">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-2016-home-and-business-windows-11534389313588.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2016 Home And Business Windows</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">214.00</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>242.00</b></li>
          </ul>

          <a href="/products/microsoft-office-2016-home-and-business-windows">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/office2016proplus.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office Professional Plus 2016 Open Academic</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">109.00</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>134.00</b></li>
          </ul>

          <a href="/products/microsoft-office-professional-plus-2016-open-academic">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/office2019hb.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home And Business</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">271.00</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>280.00</b></li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-business">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
       	<li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-2019-home-and-business-for-mac-11534395867188.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home And Business For Mac</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">271.00</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-business-for-mac">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-professional-2010-11535545434164.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office Professional 2010</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">122.00</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-professional2010">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-home-business-2013-11535451226164.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office Home Business 2013</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">122.00</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-home-business-2013">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-professional-plus-2016-1-pc-11538047369268.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office Professional Plus 2016 1 Pc</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">431.00</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-professional-plus-2016-1-pc">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
      </ul>
    </div>

  </div>
</section>

{% section 'newsletter-block' %}
