{% layout 'blank' %}
<section class="type-form-quiz-page">
  <div id="wrapper" data-tf-widget="HFAYQy" data-tf-inline-on-mobile data-tf-hide-headers ></div>
  <script type="text/javascript" src="//embed.typeform.com/next/embed.js"></script>
</section>
<style type="text/css">
  .type-form-quiz-page {
      width: 100%;
      height: 100%;
      display: block;
      position: fixed;
  }

  .type-form-quiz-page #wrapper {
      width: 100%;
      height: 100%;
  }

  .type-form-quiz-page iframe {
      border-radius: 0 !important;
  }
</style>