<section class="terms-page container-lg center-block">

  <h2 class="dark-blue mobile-only" style="font-size: 32px; padding-left: 42px;">Shipping<br/>and Returns</h2>

  <div class="bg-cover lazy mobile-only" style="background-image: url('https://cdn.shopify.com/s/files/1/0244/3614/6228/files/return-banner.png?35538');
  height: 250px; margin-top: 40px; background-position-x: 100%;"></div>

  <div class="large-margin">
      <h2 class="dark-blue desktop-only">{{ page.title }}</h2>

      <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/return-banner.png?35538" loading="lazy"
      class="desktop-only" style="margin-top: 50px;">

      <div class="terms-overview return-content">
        <div style="margin-bottom: 40px;">

          {% comment %}
          <div class="mobile-only" style="margin-bottom: 45px;">
            <select style="width: 100%;">
              <option>Select a section</option>
              <option>Return Policy</option>
              <option>Shipping</option>
              <option>Eletronic Delivery</option>
            </select>
          </div>
          {% endcomment %}

          <div>
          <h4 class="dark-blue" style="margin-bottom: 20px;">Return Policy</h4>
            <p>GetMsOffice United Kingdom strives to provide our customers with excellent assistance and to provide them with fair return services.
              To ensure our customers are satisfied with the product(s) they order,
              we offer a 30 day product guarantee. Within 30 days of delivery, GetMsOffice United Kingdom will refund the full amount,
              minus the cost of shipping, on new, unopened items. Before returning any product,
              you must obtain authorization by contacting us by email at sales@getmsoffice.com or phone at +44 800 048 8538
              <br/><br/>
              GetMsOffice United Kingdom will pay the return shipping for incorrect or defective items for any GetMsOffice United Kingdom shipping error.
              Customers can expect to receive a refund within 2-4 weeks. This estimate includes the shipping time back to our company,
              an authorization check, and refund processing. Refunds can only issued in the form of the original method of payment.
              If you receive an incorrect or defective item due to an error on our part and would like a replacement,
              GetMsOffice United Kingdom will pay the return shipping price for the incorrect item and ship the correct item out to the customer via upgraded shipping.
              Subscriptions require a 30 day notice of cancellation.
              <br/><br/>
              For electronic delivery, GetMsOffice United Kingdom will process the product/license key through manufacturer verification to make sure the product has not yet been activated or tampered with.
              Once this verification process is complete and the product has passed, GetMsOffice United Kingdom will refund the purchase price of the product in the form of the original method of payment.
              <br/><br/>
              Open License - GetMsOffice United Kingdom may charge a 15% restocking fee on Open License orders that have been submitted to distribution or fulfilled.
              Retail Licenses - GetMsOffice United Kingdom may charge a 15% restocking fee on retail orders that have been fulfilled.
              Anti-Virus - GetMsOffice United Kingdom may charge a 25% restocking fee on Anti-Virus orders that have been fulfilled.
              Microsoft Office 365 - Non-Refundable! We are unable to send these keys back to Microsoft so we cannot refund any Office 365 purchases. Requires 30 day notice of cancellation.
              </p>
            </div>
          </div>

          <div style="margin-bottom: 40px;">
            <h4 class="dark-blue" style="margin-bottom: 20px;">Shipping</h4>
              <p>We can ship to nearly any address in the world. Note that there are restrictions on some products,
                and some products cannot be shipped to international destinations.
                <br/><br/>
                When an order is placed online or through our customer service department,
                the estimated time frame for delivery is based upon several factors,
                including the destination, shipping method, and when the order was placed.
                <br/><br/>
                Most products ship same day. Here are estimated processing and delivery time frames for each shipping method:
                <br/><br/>
                Ground: 1-2 days processing time. 4 - 10 Business days for delivery
                Express Saver:1-2 days processing time. 2 - 3 Business days for delivery
                Standard Overnight:1-2 days processing time. 1 Business day for delivery.
                Please keep in mind that these times are an estimation. Depending on product availability,
                it is possible your product may arrive on a sooner date.</p>
            </div>

            <div>
              <h4 class="dark-blue" style="margin-bottom: 20px;">Eletronic Delivery</h4>
                <p>If you purchase your product(s) and it states they have an electronic delivery method or download,
                  you will receive the required product/license key by email the same day your order is confirmed.</p>
              </div>
      </div>
  </div>

  <div class="desktop-only">{% include 'newsletter-subscription' %}</div>

</section>
